<!-- Include the Bootstrap CSS in your project -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- Your Angular component HTML -->
<div class="navbar">
  <!-- header.component.html -->
  <div><h1>FriendBook</h1></div>

</div>
<div class="myBody">
  <div class="menu">
    <div>
      <ul>
        <li><a routerLink="profile/:username"> My profile</a></li>
        <li><a routerLink="register" > Register</a></li>
        <li><a routerLink="posts" >Posts</a></li>
        <li><a routerLink="/login">Login</a></li>
      </ul>
    </div>
  </div>
</div>
